<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Ivan Eresko</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
        @import url('https://fonts.googleapis.com/css?family=Merriweather');


        @media all and (max-width: 790px) {

            .main {

            }

        }

        @media all and (min-width: 791px) {

            .main {
                margin-top: 15vh;
            }
        }


    </style>


</head>

<body class="bg-dark">

<div class="container h-100 bg-light text-center rounded shadow">


    <div class="row pt-3 main">
        <div class="col-md-5 pb-3">

            <img src="{% static 'IMG_86201.JPG' %}" class="rounded" width="99%" alt="Picture"><br/><br/>
            <a href="http://vk.com/ivaneresko" target="_blank"><img src="{% static 'logos/vk.png' %}"
                                                                    onmouseover="this.src='{% static 'logos/vk2.png' %}'"
                                                                    onmouseout="this.src='{% static 'logos/vk.png' %}'"
                                                                    width="10%"></a>
            <a href="https://www.facebook.com/profile.php?id=100019021544687" target="_blank"><img
                    src="{% static 'logos/iconfinder_facebook_circle_black_107153.png' %}"
                    onmouseover="this.src='{% static 'logos/iconfinder_facebook_circle_color_107175.png' %}'"
                    onmouseout="this.src='{% static 'logos/iconfinder_facebook_circle_black_107153.png' %}'"
                    width="11%"></a>
            <a href="mailto:ivan@programmer.net" target="_blank"><img src="{% static 'logos/email.png' %}"
                                                                      onmouseover="this.src='{% static 'logos/email2.png' %}'"
                                                                      onmouseout="this.src='{% static 'logos/email.png' %}'"
                                                                      width="10%"></a>
            <a href="http://github.com/yaquake" class="pl-1" target="_blank"><img src="{% static 'logos/github.png' %}"
                                                                                  onmouseover="this.src='{% static 'logos/github2.png' %}'"
                                                                                  onmouseout="this.src='{% static 'logos/github.png' %}'"
                                                                                  width="10%"></a>


        </div>


        <div class="col-md-7 text-left" style="font-family: Merriweather, sans-serif; ">
            <p class="border-bottom" style="font-size: 1.5em; color: #7d0000;">
                <strong>About</strong></p><br/>
            <ul class="pl-5">
                <li>
                    <strong>Ivan</strong>
                </li>
                <li>
                    <strong>Auckland, NZ</strong>
                </li>
                <li>
                    <strong>Software Developer</strong>
                </li>
            </ul>
            <br/><br/>

            <p class="border-bottom" style="font-size: 1.5em; color: #7d0000;">
                <strong>Skills</strong></p><br/>
            <ul class="pl-5">
                {% for job in jobs %}
                    <li>
                        <strong>{{ job.summary }}</strong>
                    </li>
                {% endfor %}
            </ul>
            <br/>


            <p class="border-bottom" style="font-size: 1.5em; color: #7d0000;">
                <strong>Links</strong></p><br/>
            <ul class="pl-5">
                <li><a href="https://mpm.kiwi" class="text-info" target="_blank"><strong>INTERNSHIP
                    PROJECT</strong></a></li>
                <li><a href="{% static 'Ivan_Eresko_resume.docx' %}" class="text-info"><strong>RESUME</strong></a></li>
                <li><a href="{% url 'allblogs' 1 %}" class="text-info" target="_blank"><strong>BLOG</strong></a></li>

            </ul>


        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

</body>
</html>
